{
    "tabWidth": 4,
    "semi": true,
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "semi": false,
                "printWidth": 180
            }
        },
        {
            "files": "main.ts",
            "options": {
                "semi": false,
                "printWidth": 80
            }
        }
    ]
}
